* {
    box-sizing: border-box;
    
}
    
    
body {
    border: 2px solid lightgray;
}

/* Header */

header {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 16px 24px;
    justify-content: space-between;

}

#logo-title {
    display: flex;
    align-items: center;

}

#logo-title h1 {
    font-size: 32px;
}

#logo-title h1 span {

}

.nav-links {
    list-style: none;
    display: inline-flex;
    text-align: right;
    
}

.nav-links li a {
    text-decoration: none;
    color: black;
    margin-left: 16px;
    
}

/* Banner */

.banner {
    display: flex;
    background-color: lightgray;
    align-items: center;
    
}

#banner-pic {
    width: 60%;
    overflow: hidden;
    padding: 32px 24px;
}

#banner-pic img {
    width: 100%;
    display: block;
    
}

#banner-text {
    width: 22%;
    
}

.banner h1 {
    text-align: left;

}

.banner h3 {
    text-align: left;

}

.banner p {
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px 0;

}

/* Details */

#details-and-read-more {
    display: flex;
    align-items: flex-start;
    
    
}

#details {
    width: 60%;
    overflow: hidden;
    border-right: 1px solid lightgray;
}

#details img {
    width: 100%;
    display: block;
    padding: 32px 24px;
}

#details-text {
    width: 100%;
    padding: 0 32px 24px 24px;
}

#details-text h2 {
    padding-bottom: 24px;
    margin: 0;
}

#latin {
    padding-bottom: 24px;
    margin: 0;
}

#quote-author {
    margin: 0;
}

/* Read More */

#read-more {
    width: 40%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    flex-direction: column;
}

#read-more ul {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box {
   display: flex; 
   border: 1px solid lightgray;
}

.box-img {
    width: 35%;
    height: 100%;
    padding: 16px;
    object-fit: cover;
}

.box-words {
    width: 65%;
    padding: 16px 0;
    align-self: center
}

.box-heading {
    padding-bottom: 8px;
    margin: 0;
    
}

.box-text {
    padding-bottom: 8px;
    margin: 0;
}

.more {
    margin: 0;
    color: blue;

}

#guest {
    background-color: lightgray;
}

/* Start Learning */

#start-learning {
    background-color: lightgray;
}

#start-learning h2 {
    margin-top: 0;
}

.courses {

}

.course-img {

}

.course-heading {

}

.course-caps {

}

.course-text {

}

/* Thesis */

#thesis {

}

#thesis h2 {

}

#thesis video {

}

#thesis-box {

}   

#thesis-box img {

}

#thesis-box h3 {

}

#thesis-box p {

}

/* Reimagine */

#reimagine {

}

#reimagine h3 {

}

#reimagine p {

}

/* Footer */

footer p {

}

footer ul {

}

footer ul li {

}

